{% extends 'base.html.twig' %}

{% block title %}{{ 'message.access_denied'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'danger',
                message: 'message.access_denied'|trans
            } %}
        </p>
        <div class="text-center">
            <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-dark rounded-0 my-2">
                {{ 'action_back_to_list'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
